extends layouts/_main.jade

block append content
  include sections/_why-us.jade
  include sections/_web-hosting.jade
  include sections/_one-clicks.jade
  include sections/_cpanel-features.jade
  include sections/_frequent-questions.jade
