section.features
  .container
    .row
      .col-md-6
        h1 Server Specifications
        i.fa.fa-check.text-success
        |  AMD 2x -bi-4386 16c/16t 3,1 GHz+/3,8 GHz+
        br
        i.fa.fa-check.text-success
        |  128 GB DDR3 ECC 1066MHz
        br
        i.fa.fa-check.text-success
        |  4x 800GB SSD Intel S3K SATA3 6Gbps
        br
        i.fa.fa-check.text-success
        |  MegaRAID SAS 9271-4i FastPath
        br
        i.fa.fa-check.text-success
        |  Redundant Power, HVAC & Fire-Detection Systems
        br
      .col-md-6
        img.full-width.img-feature(style='float: right;', src='/assets/img/512/51.png')
    .row
      .col-md-6
        img.full-width.img-feature(style='float: left;', src='/assets/img/512/52.png')
      .col-md-6
        h1 Developer Support
        i.fa.fa-check.text-success
        |  PHP 5.3x, 5.4x, Perl, Python, RoR, GD, cURL, CGI, mcrypt
        br
        i.fa.fa-check.text-success
        |  Apache 2.2x
        br
        i.fa.fa-check.text-success
        |  MySQL 5
        br
        i.fa.fa-check.text-success
        |  Ruby On Rails
        br
        i.fa.fa-check.text-success
        |  Zend Optimizer, Zend Engine, ionCube Loader
        br
    .row
      .col-md-6
        h1 Security & Access
        i.fa.fa-check.text-success
        |  Anti Spam & Virus Protection
        br
        i.fa.fa-check.text-success
        |  Password Protect Directories
        br
        i.fa.fa-check.text-success
        |  Secure FTP Access
        br
        i.fa.fa-check.text-success
        |  IP Blocking
        br
        i.fa.fa-check.text-success
        |  phpMyAdmin Accesss
        br
        i.fa.fa-check.text-success
        |  Hotlink & Leech Protection
        br
        i.fa.fa-check.text-success
        |  Cron Jobs for Scheduled Tasks
        br
        i.fa.fa-check.text-success
        |  Customizable Error Page
        br
        i.fa.fa-check.text-success
        |  Website Statistics with AWstats
        br
      .col-md-6
        img.full-width.img-feature(style='float: right;', src='/assets/img/512/78.png')
    .row
      .col-md-6
        img.full-width.img-feature(style='float: left; padding-top: 15px;', src='/assets/img/512/125.png')
      .col-md-6
        h1 Emails & Domain Names
        i.fa.fa-check.text-success
        |  Outlook, Thunderbird and Windows Mail compatible
        br
        i.fa.fa-check.text-success
        |  Blackberry, iPhone, Android and PDA support
        br
        i.fa.fa-check.text-success
        |  Feature packed Webmail
        br
        i.fa.fa-check.text-success
        |  Advance Spam/Virus Protection
        br
        i.fa.fa-check.text-success
        |  Mail Forwards, Email Aliases, Auto Responders
        br
        i.fa.fa-check.text-success
        |  Unlimited Mailing Lists, Catch All Accounts, Mail Spam Filters
        br
        i.fa.fa-check.text-success
        |  Parked Domains
        br
        i.fa.fa-check.text-success
        |  Free DNS Management
        br
        i.fa.fa-check.text-success
        |  Domain Forwarding, Path Forwarding, URL Masking
        br
