section.one-click
  .container
    h1 Instantly install over 250 applications
    h3 Here are some of our popular supported one-click installations.
    .row
      .col-md-3
        img.full-width(src='/assets/img/1click/wordpress.gif')
      .col-md-3
        img.full-width(src='/assets/img/1click/coppermine.gif')
      .col-md-3
        img.full-width(src='/assets/img/1click/phplist.gif')
      .col-md-3
        img.full-width(src='/assets/img/1click/drupal.gif')
    .row
      .col-md-3
        img.full-width(src='/assets/img/1click/limesurvey.gif')
      .col-md-3
        img.full-width(src='/assets/img/1click/magento.gif')
      .col-md-3
        img.full-width(src='/assets/img/1click/osticket.gif')
      .col-md-3
        img.full-width(src='/assets/img/1click/phpbb.gif')
