section#pricing.home-pricing
  .container
    h1 Web Hosting - Plans & Pricing
    h3 Upgrade or downgrade at any time, without penalty.
    .row
      .col-md-3
        .panel.panel-primary
          .panel-heading
            h3.text-center
              | $1 
              small /month
            p
              small For HTML websites
          ul.list-group.list-group-flush.text-center
            li.list-group-item
              i.icon-ok.text-danger
              strong 1
              |  Domain
            li.list-group-item
              i.icon-ok.text-danger
              strong 1
              |  Email
            li.list-group-item
              i.icon-ok.text-danger
              strong 1
              |  Database
            li.list-group-item
              i.icon-ok.text-danger
              strong 5GB
              |  Storage
            li.list-group-item
              i.icon-ok.text-danger
              strong 150GB
              |  Bandwidth
            li.list-group-item
              strong
                i.fa.fa-times
              |  SSH Access
            li.list-group-item
              strong
                i.fa.fa-times
              |  eCommerce
            li.list-group-item
              strong
                i.fa.fa-times
              |  Forums
          .panel-footer
            a.btn.btn-lg.btn-block.btn-primary(href='https://www.quicknodes.com/billing/cart.php?a=add&pid=1') Order Now
      .col-md-3
        .panel.panel-primary
          .panel-heading
            h3.text-center
              | $4 
              small /month
            p
              small Best for Wordpress
          ul.list-group.list-group-flush.text-center
            li.list-group-item
              strong 5
              |  Domains
            li.list-group-item
              strong 5
              |  Emails
            li.list-group-item
              strong 5
              |  Databases
            li.list-group-item
              strong 25GB
              |  Storage
            li.list-group-item
              strong.unlimited 500GB
              |  Bandwidth
            li.list-group-item
              strong
                i.fa.fa-check
              |  SSH Access
            li.list-group-item
              strong
                i.fa.fa-times
              |  eCommerce
            li.list-group-item
              strong
                i.fa.fa-times
              |  Forums
          .panel-footer
            a.btn.btn-lg.btn-block.btn-primary(href='https://www.quicknodes.com/billing/cart.php?a=add&pid=2') Order Now
      .col-md-3
        .panel.panel-success
          .panel-heading
            h3.text-center
              | $8 
              small /month
            p
              small Great for eCommerce
          ul.list-group.list-group-flush.text-center
            li.list-group-item
              i.icon-ok.text-danger
              strong 15
              |  Domains
            li.list-group-item
              i.icon-ok.text-danger
              strong Unlimited
              |  Emails
            li.list-group-item
              i.icon-ok.text-danger
              strong Unlimited
              |  Databases
            li.list-group-item
              i.icon-ok.text-danger
              strong 50GB
              |  Storage
            li.list-group-item
              i.icon-ok.text-danger
              strong 1TB
              |  Bandwidth
            li.list-group-item
              strong
                i.fa.fa-check
              |  SSH Access
            li.list-group-item
              strong
                i.fa.fa-check
              |  eCommerce
            li.list-group-item
              strong
                i.fa.fa-times
              |  Forums
          .panel-footer
            a.btn.btn-lg.btn-block.btn-success(href='https://www.quicknodes.com/billing/cart.php?a=add&pid=3') Order Now
      .col-md-3
        .panel.panel-primary
          .panel-heading
            h3.text-center
              | $12 
              small /month
            p
              small Perfect for Forums
          ul.list-group.list-group-flush.text-center
            li.list-group-item
              i.icon-ok.text-danger
              strong Unlimited
              |  Domains
            li.list-group-item
              i.icon-ok.text-danger
              strong Unlimited
              |  Emails
            li.list-group-item
              i.icon-ok.text-danger
              strong Unlimited
              |  Databases
            li.list-group-item
              i.icon-ok.text-danger
              strong 100GB
              |  Storage
            li.list-group-item
              i.icon-ok.text-danger
              strong Unlimited
              |  Bandwidth
            li.list-group-item
              strong
                i.fa.fa-check
              |  SSH Access
            li.list-group-item
              strong
                i.fa.fa-check
              |  eCommerce
            li.list-group-item
              strong
                i.fa.fa-check
              |  Forums
          .panel-footer
            a.btn.btn-lg.btn-block.btn-primary(href='https://www.quicknodes.com/billing/cart.php?a=add&pid=4') Order Now
