section#features.home-why
  .container
    h1 Why choose Quicknodes?
    h3 Low cost, seriously fast and highly reliable hosting.
    .row
      .col-md-4
        img(src='/assets/img/global-network.png')
        h3 DDoS Protection
        p Advanced DDoS protection is standard across all of our web hosting packages, at no extra charge.
      .col-md-4
        img(src='/assets/img/high-performance.png')
        h3 Unrivalled Perfomance
        p All of our websites are hosted on super fast hard drives, ECC RAM and a 1Gb/sec network interface by default.
      .col-md-4
        img(src='/assets/img/the-network.png')
        h3 Trusted Network Providers
        p We use tier-1 network transit providers and all connections are 10 gig-E for redundancy and capacity.
