extends ../layouts/_simple.jade

block append head
  title Website Offline

block append content
  h1 Website Offline
  p This website has been temporarily suspended for one of the following reasons:
    ul
      li #[strong Billing issues: ] Non-payment, expired credit card, fraudulent use of credit card information.
      li #[strong Technical eeasons: ] Abuse, auauthorized use, or impropper usage of server resources.
      li #[strong Copyright violations: ] Unlawful use of copyrighted software or copyrighted media such as software, music, videos or other intellectual properties.
      li #[strong Unsolicited email: ] Sending mass mailings originating from our servers, or bulk advertising a site hosted on our servers.
      li #[strong Other violations: ] Any other violation of our terms of service could have resulted in the suspension of this domain.
    | If you are the owner of this website please contact #[a(href="mailto:support@quicknodes.com") support@quicknodes.com] otherwise please try again later.
