doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="robots", content="noindex")
    link(rel="stylesheet", href="../assets/css/simple.css")
    block head
  body
    .container
      block content
        

        
